



.background-music{
    width: 200px;
    height: 27px;
   
}
    


.big_title{
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
text-align: center;
font-family: 'Tourney', cursive;
font-size: 23px;
margin-left: 50%;
margin-top:40%;
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
text-decoration: none;
cursor: pointer;
transition: 0.15s;

}
.big_title:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
    text-align:left;    
}
.big_title:active{
    background-color: rgb(210, 118, 72);
    
}

.more_info{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    color: rgb(229, 140, 71);
    writing-mode:none;
    
}   
.bg-image{
    background-image: url("/pictures/image5.jpg")
    
   
}
.title_c_e{
    color: rgb(255, 255, 255);
    font-family: 'Tourney', cursive;
    font-size: 35px;
    margin-left: 500px;
    margin-top: 170px;
}
.text_cult{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 260px;
    text-align: center;
    

}
.main_page{
color: rgb(255, 255, 255);
margin-left: 600px;
margin-bottom:40px ;
background-color: rgb(0, 0, 0);
text-decoration: none;
font-family: 'Poppins', sans-serif;
font-size: 18px;
text-align:center;
padding-left: 1%;
padding-right: 1%;
cursor: pointer;
transition: 0.15s;
}
.main_page:hover{
    background-color: rgb(179, 179, 179);
    padding-bottom: 2%;
    text-align: center;
}
.main_page:active{
    background-color: rgb(210, 118, 72);
}

.date_title{
    color: rgb(251, 142, 75);
    font-size: 28px;
    margin-top:23%;
    margin-left: 35%;
  
    
    font-family: 'Tourney', cursive;
   
  
    
}
.info_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    margin-left: 20%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
}

.info_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.info_button:active{
    background-color: rgb(210, 118, 72);
}
.lineup_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
}
.lineup_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.lineup_button:active{
    background-color: rgb(210, 118, 72);
}
.areas_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;

}
.areas_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.areas_button:active{
    background-color: rgb(210, 118, 72);
}
.fqa_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
}
.fqa_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.fqa_button:active{
    background-color: rgb(210, 118, 72);
}

.contact_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
}
.contact_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.contact_button:active{
    background-color: rgb(210, 118, 72);
}
.Copyright{
    color: rgb(255, 255, 255);
    text-align: right;
    margin-top: 5%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
}