



.background-music{
    width: 200px;
    height: 27px;
    margin-top: 2.5%;
    margin-bottom: 0;
    position:absolute;
}
    


.big_title{
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
text-align: center;
font-family: 'Tourney', cursive;
font-size: 27px;
margin-left: 50%;
margin-top:130px;
position: absolute;

border:none;
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
text-decoration: none;
cursor: pointer;
transition: 0.15s;

}
.big_title:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
    text-align:left;    
}
.big_title:active{
    background-color: rgb(210, 118, 72);
    
}

.more_info{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(229, 140, 71);
    writing-mode:none;
    
}   
.bg-image{
    background-image: url("/pictures/image5.jpg")
    
   
}
.title_c_e{
    color: rgb(228, 119, 68);
    font-family: 'Tourney', cursive;
    font-size: 35px;
    margin-left: 500px;
    margin-top: 170px;
}
.text_cult{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 260px;
    text-align: center;
    

}
.main_page{
color: rgb(255, 255, 255);
position: absolute;
right: 47%;

background-color: rgb(0, 0, 0);
text-decoration: none;
font-family: 'Poppins', sans-serif;
font-size: 18px;
text-align:center;
padding-left: 1%;
padding-right: 1%;
cursor: pointer;
transition: 0.15s;
}
.main_page:hover{
    background-color: rgb(179, 179, 179);
    padding-bottom: 2%;
    text-align: center;
}
.main_page:active{
    background-color: rgb(210, 118, 72);
}

.date_title{
    color: rgb(251, 142, 75);
    font-size: 28px;
    margin-left: 37%;
    margin-bottom: 0;
    margin-top: 34%;
    position:absolute;
    
    font-family: 'Tourney', cursive;
   
  
    
}
.info_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 22%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    position: absolute;
    transition: 0.15s;
    text-decoration: none;
}

.info_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.info_button:active{
    background-color: rgb(210, 118, 72);
}
.lineup_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 30%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
    position: absolute;
    text-decoration: none;
}
.lineup_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.lineup_button:active{
    background-color: rgb(210, 118, 72);
}
.areas_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 41%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
    position: absolute;
    text-decoration: none;

}
.areas_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.areas_button:active{
    background-color: rgb(210, 118, 72);
}
.fqa_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 51%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
    position: absolute;
    text-decoration: none;
}
.fqa_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.fqa_button:active{
    background-color: rgb(210, 118, 72);
}

.contact_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 60%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    position:absolute;
    transition: 0.15s;
    text-decoration: none;
}
.contact_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.contact_button:active{
    background-color: rgb(210, 118, 72);
}
.Copyright{
    color: rgb(255, 255, 255);
    text-align: right;
    margin-top: 49%;
    margin-left: 0%;
    margin-bottom: 0;
    position:fixed;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    
}
.ticket{
    color:rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    position: absolute;
    padding-left: 40%;
    padding-right:39%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    text-decoration: none;
    opacity: 96%;
    top: 0.1%;
    
    

}

#buttons_menu{
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  flex-direction: column;
}
.title_info{
    color: rgb(228, 119, 68);
    font-family: 'Tourney', cursive;
    font-size: 37px;
    position: absolute;
    top:80%;
    right: 42%;
    margin: 0;
}
.main_page_infopage{
    position: absolute;
    top:90%;
    margin: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 45%;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align:center;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border:none;
    transition: 0.15s;
    
}

.main_page_infopage:hover{
    background-color: rgb(179, 179, 179);
    padding-bottom: 2%;
    text-align: center;
}
.main_page_infopage:active{
    background-color: rgb(210, 118, 72);
}
.info_page{
 
    width: 400px;
    height: 390px;
    border: 1px solid #f87000;
    color: rgb(6, 6, 6);
    background-color: rgba(255, 255, 255, 70%);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 0.5%;
  
   
}

#info_2square{
    height: 80vh;
    display: flex;
    justify-content:space-evenly;
    align-items:center;

}
strong{
    color:#c15203;
    font-weight:25px;
}
.linktickets{
    cursor: pointer;
    text-decoration: underline;
}
