

.background-music{
    width: 200px;
    height: 27px;
    margin-top: 3%;
    margin-bottom: 0;
    position:absolute;
}
    


.big_title{
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
text-align: center;
font-family: 'Tourney', cursive;
font-size: 27px;
margin-left: 50%;
margin-top:130px;
position: absolute;

border:none;
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
text-decoration: none;
cursor: pointer;
transition: 0.15s;

}
.big_title:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
    text-align:left;    
}
.big_title:active{
    background-color: rgb(210, 118, 72);
    
}

.more_info{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(229, 140, 71);
    writing-mode:none;
    
}   
.bg-image{
    background-image: url("/pictures/image5.jpg")
    
   
}
.title_c_e{
    color: rgb(228, 119, 68);
    font-family: 'Tourney', cursive;
    font-size: 35px;
    margin-left: 450px;
    margin-top: 170px;
}
.text_cult{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 260px;
    text-align: center;
    

}
.main_page{
color: rgb(255, 255, 255);
position: absolute;
right: 47%;

background-color: rgb(0, 0, 0);
text-decoration: none;
font-family: 'Poppins', sans-serif;
font-size: 18px;
text-align:center;
padding-left: 1%;
padding-right: 1%;
cursor: pointer;
transition: 0.15s;
}
.main_page:hover{
    background-color: rgb(179, 179, 179);
    padding-bottom: 2%;
    text-align: center;
}
.main_page:active{
    background-color: rgb(210, 118, 72);
}

.date_title{
    color: rgb(251, 142, 75);
    font-size: 28px;
    margin-left: 37%;
    margin-bottom: 0;
    margin-top: 34%;
    position:absolute;
    
    font-family: 'Tourney', cursive;
   
  
    
}
.info_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 22%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    position: absolute;
    transition: 0.15s;
    text-decoration: none;
}

.info_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.info_button:active{
    background-color: rgb(210, 118, 72);
}
.lineup_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 30%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
    position: absolute;
    text-decoration: none;
}
.lineup_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.lineup_button:active{
    background-color: rgb(210, 118, 72);
}
.areas_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 41%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
    position: absolute;
    text-decoration: none;

}
.areas_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.areas_button:active{
    background-color: rgb(210, 118, 72);
}
.fqa_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 51%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    transition: 0.15s;
    position: absolute;
    text-decoration: none;
}
.fqa_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.fqa_button:active{
    background-color: rgb(210, 118, 72);
}

.contact_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 43%;
    margin-left: 60%;
    font-size: 23px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border: none;
    position:absolute;
    transition: 0.15s;
    text-decoration: none;
}
.contact_button:hover{
    background-color: rgb(205, 205, 205);
    padding-bottom: 2%;
}
.contact_button:active{
    background-color: rgb(210, 118, 72);
}
.Copyright{
    color: rgb(255, 255, 255);
    text-align: right;
    top: 95%;
    left:2%;
    
 
    position:absolute;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    
}
.ticket{
    color:rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    position: absolute;
    padding-left: 40%;
    padding-right:39%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    text-decoration: none;
    opacity: 96%;
    top: 0.1%;
    
    

}

#buttons_menu{
    
    justify-content:space-evenly;
    align-items:center;

}
.title_info{
    color: rgb(228, 119, 68);
    font-family: 'Tourney', cursive;
    font-size: 37px;
    position: absolute;
    top:80%;
    right: 42%;
    margin: 0;
}
.main_page_infopage{
    position: absolute;
    top:90%;
    margin: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 45%;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align:center;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    border:none;
    transition: 0.15s;
    
}

.main_page_infopage:hover{
    background-color: rgb(179, 179, 179);
    padding-bottom: 2%;
    text-align: center;
}
.main_page_infopage:active{
    background-color: rgb(210, 118, 72);
}
.info_page{
 
    width: 320px;
    height: 390px;
    border: 1px solid #fb7406;
    color: rgb(6, 6, 6);
    background-color: rgba(255, 255, 255, 70%);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 1%;
    line-height: 150%;
  
   
}

#info_2square{
    height: 80vh;
    display: flex;
    justify-content:space-evenly;
    align-items:center;

}
strong{
    color:#c15203;
    font-weight:25px;
}
.linktickets{
    cursor: pointer;
    text-decoration: underline;
}
.lineupdate1{
    color: rgb(117, 116, 116);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    position: absolute;

}
#stages{
    height:85vh;
    display: flex;
    justify-content:space-evenly;
    align-items:center;

   
}
.lineupdate2{
    color: rgb(117, 116, 116);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    right: 0%;
    position: absolute;
    flex-direction: column;
}
.bandslist{
 
    width: 320px;
    height: 390px;
    border: 1px solid #fb7406;
    color: rgb(6, 6, 6);
    background-color: rgba(255, 255, 255, 0.381);
    font-family: 'Poppins', sans-serif;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: top;
    padding: 0.5%;
    line-height: 180%;
  
   
}
.bandslist2{
 
    width: 320px;
    height: 390px;
    border: 1px solid #fb7406;
    color: rgb(6, 6, 6);
    background-color: rgba(255, 255, 255, 0.381);
    font-family: 'Poppins', sans-serif;
    text-align:left;
    display: flex;
    justify-content: left;
    align-items: top;
    padding: 0.5%;
    line-height: 180%;
  
}
.map{
 
    display: block;
    margin-left:24%;
   
    width: 48%;
    position: absolute;
    margin-top: 3%;
   filter: grayscale(70%);
}
.title_areas{
    color: rgb(228, 119, 68);
    font-family: 'Tourney', cursive;
    font-size: 37px;
    position: absolute;
    top:80%;
    right: 41%;
    margin: 0;
    left: 45.5%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Poppins', sans-serif;
}
  
input[type=submit] {
    background-color: #eeaa51;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
    font-family: 'Poppins', sans-serif;
}
  
input[type=submit]:hover {
    background-color: #c04f1e;
    
}
  
.container {
    
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    width: 32%;
    font-family: 'Poppins', sans-serif;
    margin-top: 11%;
    
}
.fqa_title{
    color: rgb(228, 119, 68);
    font-family: 'Tourney', cursive;
    font-size: 37px;
    position: absolute;
    top:80%;
    right: 47.5%;
    margin: 0;
    
}
.fqa_questions{
    margin-top: 5%;
    color:rgb(219, 79, 15);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.667);    
    display: block;
    padding: 1%;
}
.answer{
    cursor: pointer;
    color: #2e2e2e;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
#fqa_sentences{
    display: flex;
    display:grid;
    
   
}

.instagram_icon{
    color:white;
    position: absolute;
    top:92%;
    right:3%;
    width: 1.6%;
    fill:white;
    cursor: pointer;
}
.instagram_icon:hover{
    width: 2%;
    fill:#ec9147;
}
.facebook_icon{
    color:white;
    position: absolute;
    top:92%;
    right:6%;
    width: 1.6%;
    fill:white;
    cursor: pointer;
}

.facebook_icon:hover{
    width: 2%;
    fill:#ec9147;
}
.twitter_icon{
    color:white;
    position: absolute;
    top:92%;
    right:9%;
    width: 1.6%;
    fill:white;
    cursor: pointer;
}
.twitter_icon:hover{
    width: 2%;
    fill:#ec9147;
}



